@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    margin-top: 50px;
}

#logo {
    height: auto;
    width: 150px 
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

span {
    color: #fff;
    font-family: Kdam Thmor Pro,sans-serif;
}